[Unit]
Description=Django Template Application Socket
PartOf=template.service

[Socket]
ListenStream=/run/template.sock
# Note: Change SocketUser/SocketGroup to match your web server user
# Common values: nginx/nginx, www-data/www-data, apache/apache
SocketUser=nginx
SocketGroup=nginx
SocketMode=0660

[Install]
WantedBy=sockets.target
