[Unit]
Description=Django Template Application Socket
PartOf=template.service

[Socket]
ListenStream=/run/template.sock
SocketUser=wbbaker
SocketGroup=template
SocketMode=0660

[Install]
WantedBy=sockets.target
